*.d
*.o
*.ko
*.obj
*.elf
*.ilk
*.map
*.exp
*.gch
*.pch
*.lib
*.a
*.la
*.lo
*.dll
*.so
*.so.*
*.dylib
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.dSYM/
*.su
*.idb
*.pdb
*.mod*
*.cmd
*.pm.tdy
*.bs
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
.last_cover_stats
/META.yml
/META.json
/MYMETA.*
cover_db/
nytprof.out
/.build/
_build/
Build
Build.bat
inc/
/blib/
/_eumm/
/*.gz
/Makefile
/Makefile.old
/MANIFEST.bak
/pm_to_blib
/*.zip
!Build/

